/* STYLE PAGE CONNEXION LEENK, TEST NUMERO 1 */
*{
    margin:0;   
    padding:0;
}


/*=============================================
=            A RANGER      =
=============================================*/






body{
    background:rgb(20,20,20);
   
}
main{
    width:100%;
    background-size:cover;
    padding-top:3%;
}

#nav_bar{
    height:100px;
    background:linear-gradient(1.1turn,#ffb500,#ff8f00);
   
    padding-top:1%;
}
#nav_bar_index{
    height:100px;
    background:linear-gradient(1.1turn,#ffb500,#ff8f00);


    padding-top:1%;
    position:fixed;
    z-index:5000;
    width:100%;
    display:flex;
    justify-content: space-between;

}

#nav_bar_index_responsive{
   
    display:flex;
     position:fixed; 
    justify-content: space-between; 
     width:100%;
     background:linear-gradient(1.1turn,#ffb500,#ff8f00);
     z-index:10000;
      display:none;
}
.leenk_burger_responsive{
    width:100%;
    color:white;
    padding-top: 30px;
}
.menu_img_responsive{

max-width:150px;
}

.menu_img_responsive>img{
    width:100%;
}
.navbar-light .navbar-nav .nav-link{
    color:white;
}

.navbar-light .navbar-nav .nav-link:hover{
color:rgb(255,255,255,.5);
}
/**
 *
 * CSS BURGER BOOSTRAP ANIMATED ICONS
 *
 */

 
.animated-icon1{
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-icon1 span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    }
    
    .animated-icon1 span {
    background: #3CC0F3;
    }
    .animated-icon1 span:nth-child(1) {
    top: 0px;
    }
    
    .animated-icon1 span:nth-child(2) {
    top: 10px;
    }
    
    .animated-icon1 span:nth-child(3) {
    top: 20px;
    }
    
    .animated-icon1.open span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    }
    
    .animated-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
    }
    
    .animated-icon1.open span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    }
    
/**
 *
 * CSS BURGER BOOSTRAP
 *
 */


.nav{
    margin-right:10%;
    line-height:20px;
    margin-top:10px;
}
.nav-item >a{
    color:white;
    font-weight:bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}



#logo_nav_position {
 
        width:320px;
        height:70px;
        margin-left:5%;
        margin-top:-0.5%;

        text-align:center;
     
}
.border_form{
    border-right:1px solid #ff8f00
}
#logo_position{
    width:250px;
    height:70px;
    margin:0.2% auto 0 auto;
    text-align:center;

}
.title_form{
    margin:5% auto 3% auto;
    color:#ff8f00;

}
.form_style label{
    width:50%;
    margin-bottom:0%;
    color:rgb(50,50,50);
    line-height: 40px;
    height:40px;

}
.label_form_sub{
    width:100%;
}
input[type="text"],input[type="date"],input[type="password"],input[type="email"]{
    width:250px;
    margin-bottom:5%;
}
.form_input_login{
    width:90%;
    margin-bottom: 5%;

}
.login_padding{
    height:60vh;
}
.btn_login{
    margin-bottom:5%;
    width:50%;
    background:#ff8f00;
    border:1px solid #ff8f00;
    box-shadow:0px 2px 1px black;
    border-radius:15px;
    padding:5px 5px;
    color:white;
    cursor:pointer;
    /* background-image: url('./Logo/banner.png'); */
}

.btn_login:hover{
    background-color:#ff8f00;
    border:1px solid #ff8f00;
    color:white;
    background-image:none;
    transform:translateX("10px");

}
.login_input{
    width:285px !important;
    margin:3% auto;
}
.form_login_main{
    margin-top:5%;
}
.login_form{
    flex-wrap:wrap;
    width:30%;

}
.login_form .btn_login{
    margin:0 auto 3% auto;
}
#style_link_register{
    display:block;
    width:100%;
    text-decoration:none;
    text-align: center;
}

.form_style {
    width: 18%;

    margin: 3% auto 10% auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.second_submit{
    margin:5% auto 0 auto;
    width:10%;
}

.height_class {
    height:30px;
    border:none;
    border-bottom:1px solid #ff8f00;
    padding-left:24px;
    color:white;
    background:rgb(20,20,20)
}

/*=====  End of A RANGER  ======*/


/*=============================================
=           MAIN_INDEX comment block            =
=============================================*/


#content_index{
    width:100%;
    height:400px;
}
#alert_box_home{
    width:60%;
    margin:5% auto 0 auto;
    overflow:hidden;
    text-align:center;
    color:white;
    height:265px;
    animation:loop infinite 50s; 
}

@keyframes loop{
    0% { transform: translateZ(0,0)}
    100%{ transform: translateZ(-100%,0)}
}
#alert_box_home>p>a{
    color:orange;
}
#form_search_bar{
    display:flex;
    flex-wrap: wrap;
}
#search_part{
    height:200px;
    display:flex;
    justify-content: center;
    background:linear-gradient(1.1turn,#ffb500,#ff8f00);
    
    padding-top:130px;
    box-shadow: 0 2px 2px -2px gray;
}
.search_bar{
    height:30px;
    width:100%;
    border-radius:15px;
    padding-left:10px;
}
.title_search{
    color:#ff8f00;
    text-align: center;
}
#submit_search_bar{
    height:30px;
    margin-left:5px; 
}
#submit_form_search_bar{
    width:20%;
}
.search_submit{
    border:none;
    background:none;
    cursor: pointer;
}
.label_input_search_form{
    color:white;
    margin-right:5px;
    height:1px;
}
.input_search_form{
    margin-right:20px;
}
.fa-search{
    height:30px;
    font-size:1.5rem;
    color:white;
    margin-left:5px;
    margin-top:2px;
}
.game_desc_text{
    color:#ff8f00;
}
#part_01{
    width:100%;
    margin-bottom:5%;
}


#part_02{
    background:linear-gradient(0.25turn,#3B334F,#623AED);
    height:400px;
    text-align: center;
}
#part_02 >p {
    padding-top:7%;
    font-size:48px;
    color:white;
    font-style:italic;
    display:none;
}

#part_03{
    padding-top:2%;
    position:relative;
    height:600px;
    display:flex;
}
#img_part03{
    width:50%;
}
#text_part03{
    width:10%;
    display:none;
}
#animate_sphone{
    position:relative;
    left:-300px;

}
#part_04{
    width:100%;
    text-align: center;
    background-color:rgb(20,20,20);
}
.top-oranged{
    margin:1% auto 2% auto;
    background-color:#ff8f00;
    width:60%;
}
.bottom-oranged{
    margin:1% auto 1% auto;
    background-color:#ff8f00;
    width:60%;
}
#card_handler{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.style_link_leenk{
    text-decoration: none;
    background-color:#ff8f00;
    color:white;
    padding:7px 7px;
    box-shadow:0px 2px 1px black;
    border-radius:15px;
    margin-bottom:20px;
}
.style_link_leenk:hover{
    text-decoration: none;
    color:white;
    cursor: pointer;
    background-color:#ff8f00;
 
}
.block_link_leenk{
    margin-bottom:20px;
}
/*=============================================
=            EFFECT ON CARDS            =
=============================================*/

.card_leenk-effect {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
   
    /* overflow:hidden; */

  }

  .card_leenk {
    position: relative;
    overflow: hidden;
    width: 230px;
    margin-right:12.5px;
    margin-left:20px;
    margin-bottom:20px;
    transition: transform .2s;
  }
  .card_leenk img {
    width: 100%;
    height: auto;
  }

  .card_leenk:hover{
      transform:scale(1.1);
  }
  .card_leenk:hover .card_leenk__link-block_left,  .card_leenk:hover .card_leenk__link-block_center, .card_leenk:hover .card_leenk__link-block_right{
      animation:fadeIn 1.5s linear forwards;
  }

  .card_leenk__link-block_left{
    position: absolute;
    left: 20px;
    bottom: 29px;
    opacity:0;
  }



  .card_leenk__link-block_right{
    position: absolute;
    bottom:29px;
    left: 170px;
    opacity:0;
  }
  .card_leenk__link-block_center{
    position: absolute;
    bottom:31px;
    left: 96px;
    opacity:0;
  }
  
  .card_leenk_fas{
    font-size:30px;
    color:#ff8f00;
  }
  .show_link_cards{
    display:block;
  }
  

/*=====  End of EFFECT ON CARDS  ======*/

#title_main_index{
    color:#252525;
    text-align: center;
    text-decoration: underline;
    width:100%;
    font-weight:bold;

}

#more_games{

    transition: transform .3s ease-out;
    display:inline-block;
}
#more_games:hover{
    transform: translate(0,-10px);
}
#more_games .fa-plus-circle{
    font-size:35px;
    color:#4B26C6;
}

/*=====  End of MAIN_INDEX comment block  ======*/

/*=====  START PROFIL PAGE  ======*/

#profil_main{
    padding-top:5%;
    padding-left:5%;
    display:flex;
    flex-wrap:wrap;
} 

#profil_main_otherView{
    padding-top:10%;
    padding-left:5%;
    display:flex;
    flex-wrap:wrap;
} 
#profil_main_otherView>div>h1{
    text-align:center;
    width:100%;
    display:block;
}
#profil_main>div>h1{
    text-align:center;
    width:100%;
    display:block;
}
#title_userView{
    display:block;
    width:100%;
}
#box_profilReview{
    width:15%;
    height:400px;
    border:1px solid #4B26C6;
    margin-bottom:2%;
}
#img_profil{
    margin:5% auto;
    width:25%;
    display:block;
}
#name_user_profil{
    font-size:24px;
    font-weight:bold;
    text-align: center;
}
#type_user_profil{
    font-size:18px;
    font-weight:bold;
    text-align: center;
}

#title_game_box{
    font-weight:bold;
    width:100%;
    text-align: center;
    color:#ff8f00;
  
}
#sidebar_right{
    border:1px solid #4B26C6;
    width:15%;
    height:400px;
}
/* ===================== GAME VIEW STYLE ======================== */
#game_view{
    padding-top:125px;
    display:flex;
    flex-wrap:wrap;
    width:80%;
    margin:0 auto 2% auto;
}

#game_title_view{
    width:100%;
    font-size:24px;
    text-align: center;
}
#game_img_view{
    width:15%;

}
#game_img_view>img{
    width:100%;
}
#game_desc_view{
    width:75%;
    margin:1% auto 0 auto;
}
.game_desc_text{
    width:60%;
}
#who_plays_it_box{
    width:80%;

    margin:0 auto 5% auto;
    display:flex;
    flex-wrap:wrap;
}
#title_WPI{
    font-size:20px;
    width:100%;
    text-align:center;
}
.box_WPI_player{
    width:100%;
    display:flex;
    justify-content: center;
}
#btn_add_game_view{
    display:block;
    width:80%;
    margin: 0 auto 1% auto;
    padding-left:1%;
}
#who_plays_it{
    width:130px;
    border: 1px solid #ff8f00;
    padding:5px 5px;
    margin:0 5px 10px 5px;
    text-align: center;
    text-decoration:none;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
/* ===================== END GAME VIEW STYLE ======================== */

/* ===================== FOOTER STYLE ======================== */

footer{
    background-color:rgb(20,20,20);
}

#text_footer{
    color:white;
    width:50%;
    text-align: center;
    margin:0 auto;
}
.content_part_footer{
    margin-left:5%;
    text-align: center;
}
.title_footer_content{
    color:white;
}

/* ====================== END FOOTER STYLE ==================== */



/* ======================= TEST SEARCH ========================== */

#test_search{
    padding-top:10%;
    width:30%;
    display:flex;
    margin:0 auto;
}

/* ======================= END TEST SEARCH ======================== */

/* ======================== GAME LIST ============================= */

#game_list_mainbox{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    text-align: center;
    background:rgb(20,20,20);
    justify-content:center;
}
#title_game_list{
    width:100%;
    color:#ff8f00
}

@media screen and (min-width: 1200px) and (max-width: 2000px){

}


@media screen and (min-width: 992px) and (max-width: 1200px){
    #nav_bar_index{
        display:none;
    }
    #nav_bar_index_responsive{
        display:block;
    }
    #nav_bar_preindex{
        display:none;
    }
    #nav_bar_preindex_responsive{
        display:block;
    }
   
}


@media screen and (min-width: 768px) and (max-width: 992px){
    #nav_bar_index{
        display:none;
    }
    #nav_bar_index_responsive{
        display:block;
    }
    #nav_bar_preindex{
        display:none;
    }
    #nav_bar_preindex_responsive{
        display:block;
    }
    .login_form{
        width:35%;
    }
 
}  


@media screen and (min-width: 576px) and (max-width: 768px){
    #nav_bar_index{
        display:none;
    }
    #nav_bar_index_responsive{
        display:block;
    }
    #nav_bar_preindex{
        display:none;
    }
    #nav_bar_preindex_responsive{
        display:block;
    }
    .login_form{
        width:75%;
    }
    .game_desc_text{
        width:100%;
    }
    .second_submit{
        width:20%;
    }
    .border_form{
        border:none;
    }
}  


@media screen and (max-width: 576px){
    #nav_bar_index{
        display:none;
    }
    #nav_bar_index_responsive{
        display:block;
    }
    #nav_bar_preindex{
        display:none;
    }
    #nav_bar_preindex_responsive{
        display:block;
    }
    .login_form{
        width:100%;
    }
    .game_desc_text{
        width:100%;
    }
    .second_submit{
        width:35%;
    }
    .border_form{
        border:none;
    }
}  



@media screen and (max-width: 415px){
    #nav_bar_index{
        display:none;
    }
    #nav_bar_index_responsive{
        display:block;
    }
    #nav_bar_preindex{
        display:none;
    }
    #nav_bar_preindex_responsive{
        display:block;
    }
    .login_form{
        width:100%;
    }
    .game_desc_text{
        width:100%;
    }
    .second_submit{
        width:35%;
    }
    .border_form{
        border:none;
    }
}   

 

/*=============================================
=            Reformatage style Leenk            =
=============================================*/




/*----------  Profil Page  ----------*/
.title_profil_page{
    width:100%;
    text-align: center;
}
.sides{
    height:70vh;
}
.bg_profil_user{
    background-image:url('../ressources/banner_profil/bg3.jpg');
    background-size:cover;

}
.edit_background{
    display:flex;
    justify-content: end;
    height:45px;
}
#edit_bg{
    padding: 10px 10px;
    background-image:url('../ressources/image/backgroundprofilu.png');
    border: 1px solid orange;
    border-radius: 0 0 0 15px;
}
.picto_edit_bg{

    font-size: 18px;

    color: #ff8f00;
}
.picto_edit_bg:hover{
    color: #ff8f00;
    text-decoration:none;
}
.modal-dialog{
    margin:10% auto; 
}
.modal-content{
    background-color:black;
    border:1px solid #ff8f00;
    color:white;
}
.modal-picture-preview{
    background:blue;
    margin-bottom:1%;
}
.modal-body{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    width:95%;
    margin:0 auto;
}

.modal-picture-preview:hover{
    transform:scale(1.1);
    cursor: pointer;
}
.close{
    color:#ff8f00;
    opacity:1;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover{
    color:#ff8f00;
    opacity:1;
}
.active-bg{
    border:2px solid #ff8f00;
}
/*----------  Top left  ----------*/


.profil_top_left{
text-align: center;
}
.profil_user{
    width:60%;

    
}
.link_leenk_profil{
    color:#ff8f00;
    font-size:3rem;
    margin-left:3%;
}

.link_leenk_profil:hover{
    color:white;
    text-decoration: none;
}
.title_nickname_user{
    font-weight:bold;
    font-size:24px;
    color:#ff8f00;
}
.style_hr{
    width:60%;
    margin:0 auto;
    background-color:#ff8f00;
}
.box_link_user{
    display:flex;
    height:80px;
    justify-content: center;
    align-items: center;
}
.bg_user_sides{
    background-image:url('../ressources/image/backgroundprofilu.png');
    background-size:cover;
    border-radius:15px 0px 15px 0px;
    color:white;
    border: 1px solid  #ff8f00;
    margin:3% auto 1% auto;
}

.update_profil_btn_01{
    color:white;
    text-shadow:1px 1px 0px black;
    background-image:url('../ressources/image/backgroundprofilu.png');
    background-size:cover;
    width:150px;
    height:55px;
    display:block;
    margin:0 auto;
    border:1px solid #ff8f00;
}
.update_profil_btn_01:hover{
    color:#ff8f00;
    text-decoration:none;
    transform:translateX(-1px)translateY(-1px);
    box-shadow:2px 2px 3px black;
}
/*----------  Top right  ----------*/
.profil_top_right{
 
}
.title_desc_profil{
    font-weight:bold;
    font-size:24px;
    color:#ff8f00;
    margin-bottom:0;
}
.hr_profil_right{
    width:25%;
    background-color:#ff8f00;

    margin-top:1%;
}
.post_user{
  
    padding:5% 5%;
    height:60%;
    width:60%;

}
#box_alert_user{
    color:white;
    text-shadow:1px 1px 0px black;
    background-image:url('../ressources/image/backgroundprofilu.png');
    background-size:cover;
    width:35%;

    display:block;
    margin:0 auto;
    border:1px solid #ff8f00;
    text-align:center;
}
#box_alert_user>a{
    color:#ff8f00;
    font-weight:bold;
    text-transform: uppercase;
    font-size:18px;
}

#box_alert_user:hover{
    color:#ff8f00;
    text-decoration:none;
    transform:translateX(-1px)translateY(-1px);
    box-shadow:2px 2px 3px black;
}
/*----------  Bottom  ----------*/
.profil_bottom{
 
}


.user_games{
    width: 100%;
    margin: 0 5% 3% auto;
    padding:1% 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*=====  End of Reformatage style Leenk  ======*/


.updatedPwd{
    text-align:center;
    color:rgb(10,220,10);
    font-weight:bold;
    background-color:linear-gradient(1.1turn,#ffb500,#ff8f00);
}



/*=============================================
=            Subscribe Form            =
=============================================*/
.form_leenk{
    width:100%;
    display:flex;
}
.form_style_subscribe {
    background:rgb(20,20,20);
    width:100%;

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    text-align: center;
}
.form_subscribe_part{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    color:#ff8f00;
}
.sides_form>p{
    color:#ff8f00;
    width:100%;
    height:40px;
}
.input_form{
    width:51%;
}
.sides_form{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    width:50%;
    padding-top:40px;
}
.radio_form_subscribe{
    width:15%;
}

.container-fluid{
 padding:0;
}
.popUp_steam_info{
    visibility: hidden;
    width: 600px;
    background:linear-gradient(1.1turn,#ffb500,#ff8f00);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    margin-left: -300px;
    top:-40px;
}
.show_popUp{
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
/*=====  End of Subscribe Form  ======*/


